<% include partials/head %>  
  <body>
    <script src="/javascripts/knockout-3.4.2.debug.js"></script>
    <script src="/javascripts/jquery-3.2.1.js"></script>
    <header>
        <% include partials/header %>
    </header>
    <div class="container-fluid main">
      <div id="tab-view" class="col-md-2 left-col">
        <div>
          <ul class="navigation-views" data-bind="foreach: views">
            <li data-bind="text: $data, 
              css: { selected: $data == $root.chosenViewId() },
              click: $root.gotoView"></li>
          </ul>
        </div>
      </div>
      <div class="col-md-10 right-col">
        <div id="conversations" class="canvas" data-bind="visible: chosenViewId() === 'Conversations'">
          <div class="conversations-view"  data-bind="with: conversationsData">

          </div>
          <div class="messages-view"  data-bind="with: messagesData">

          </div>
        </div>
        <div id="history" class="canvas" data-bind="visible: chosenViewId() === 'History'">
        </div>
        <div id="operators" class="canvas" data-bind="visible: chosenViewId() === 'Operators'">
        </div>
        <div id="prepared-messages" class="canvas" data-bind="visible: chosenViewId() === 'Prepared Messages'">
        </div>
      </div>
    </div>
    <footer>
        <% include partials/footer %>
    </footer>
    <script src="/javascripts/index.js"></script>
  </body>
</html>