<% include partials/head %>  
  <body>
    <script src="/javascripts/knockout-3.4.2.debug.js"></script>
    <script src="/javascripts/jquery-3.2.1.js"></script>
    <script src="/javascripts/moment.js"></script>
    <script src="/javascripts/socket.io.js"></script>
    <header>
        <% include partials/header %>
    </header>
    <div class="container-fluid main">
      <div id="tab-view" class="col-md-2 left-col">
        <div>
          <ul class="navigation-views" data-bind="foreach: views">
            <li data-bind="text: $data, 
              css: { selected: $data == $root.chosenViewId() },
              click: $root.gotoView"></li>
          </ul>
        </div>
      </div>
      <div class="col-md-10 right-col">
        <div id="conversations" class="canvas" data-bind="visible: chosenViewId() === 'Conversations'">
          <div class="conversations-view"  data-bind="with: conversationList">
            <ul data-bind="foreach: conversations">
              <!-- ko if: conversation -->
                  <li data-bind="click: $root.gotoChat(conversation._id)">
                    <input type="hidden" data-bind="">
                    <h3 data-bind="text: conversation.customer.profile.firstName + ' ' + conversation.customer.profile.lastName"></h3>
                    <div class="conversation-details">
                      <p class="conversation-body" data-bind="text: body"></p>
                      <p class="conversation-time" data-bind="text: $root.timeSinceLast(createdAt)"></p>
                    </div>
                  </li>
              <!-- /ko -->
            </ul> 
          </div>
          <div class="messages-view">
            <div class="chat-view">
              <div data-bind="foreach: messageList">
                <div class="message-details" data-bind="style: {textAlign: $root.textAlignDirection(senderType), float:$root.textAlignDirection(senderType) }">
                  <div>
                    <div class="message-sender">
                      <p data-bind="text: senderName"></p>
                    </div>
                    <div class="message-body">
                      <p data-bind="text: body"></p>
                    </div>
                    <div class="message-time">
                      <p data-bind="text: $root.timeSinceLast(sentAt)"></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="new-message">
              <textarea class="text-area" data-bind="textInput: messageToSend"></textarea>
              <button data-bind="click: sendButtonHandler">Send</button>
            </div>
          </div>
        </div>
        <div id="history" class="canvas" data-bind="visible: chosenViewId() === 'History'">
        </div>
        <div id="operators" class="canvas" data-bind="visible: chosenViewId() === 'Operators'">
        </div>
        <div id="prepared-messages" class="canvas" data-bind="visible: chosenViewId() === 'Prepared Messages'">
        </div>
      </div>
    </div>
    <footer>
        <% include partials/footer %>
    </footer>
    <script src="/javascripts/index.js"></script>
  </body>
</html>