<% include partials/head %>

  <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1><span class="fa fa-sign-in"></span> Forgot Password</h1>

        <% if (message != null) { %>
        	<div class="alert-danger"><%= message %></div>
        <% } %>

        <form action="/forgot" method="post">
          <div class="form-group">
              <label>Please enter Email address to reset password.</label>
              <input type="text" class="form-control" name="email">
          </div>
          <div>
            <input type="submit" class="form-control" value="Submit" />
          </div>
        </form>
      </div>
      <hr>
      <span class="fa fa-sign-in"> Go to <a href="/login">Login</a></span>
      <p>Or go <a href="/">home</a>.</p>
    </div>
  </body>
</html>