<% include partials/head %>  
  <body>
    <header>
        <% include partials/header %>
    </header>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1>Support Chat</h1>
        <p class="lead">A simple customer support chat app.</p>
        <a href="/login" class="btn btn-default"><span class="fa fa-sign-in"></span> Login</a>
        <a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Signup</a>
      </div>
    </div>
    <footer>
        <% include partials/footer %>
    </footer>
  </body>
</html>  